{% load form_visible %}

{% for subsection in section.subsections|visible_section:True %}
    {% include "mixins/section.html" with section=subsection %}
{% endfor %}

{% if section.fields|visible_field:True %}
    <div>
        <h2>{{ section }}</h2>
        <table>
            {% for field in section.fields|visible_field:True %}
                <tr>
                    <th>
                        {{ field }}
                    </th>
                    {% if field.type.identifier == "checkbox" %}
                        <td>
                            {% for entry in field.entry_set.all %}
                                {% fetch_choice_value entry.value entry.field.id %}
                                {% if not entry.value %}
                                    <span> - </span>
                                {% endif %}
                            {% empty %}
                                <span> - </span>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>
                            {% for entry in field.entry_set.all %}
                                {{ entry.value }}
                                {% if not entry.value %}
                                    <span> - </span>
                                {% endif %}
                            {% empty %}
                                <span> - </span>
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <div class="divider">&nbsp;</div>
    </div>
{% endif %}
