{% load entry_filter %}
{% load form_visible %}

{% if section.fields.all and section.visible == True %}
    {% if section.parent == None %}
    <div>
    {% else %}
    <div class="parent-section">
    {% endif %}
        <h2>
            {% if section.identifier == "hakijan-tiedot" %}
                {{ section }}, {% get_applicant applicant.entry_section %}
            {% else %}
                {{ section }}
            {% endif %}
        </h2>
        <table>
            {% for field in section.fields.all %}
                {% if field.enabled == True %}
                    <tr>
                        <th>
                            {{ field }}
                        </th>
                        {% for entry in field.entry_set.all|filter_answer:answer|filter_applicant:applicant_identifier|filter_plot_search_target:plot_search_target %}
                            <td>
                                {% if field.type.identifier == "checkbox" or field.type.identifier == "radiobutton" or field.type.identifier == "radiobuttoninline" %}
                                    {% fetch_choice_value entry.value entry.field.id %}
                                    {% if not entry.value %}
                                        <span> - </span>
                                    {% endif %}

                                {% else %}
                                    {{ entry.value }}
                                    {% if not entry.value %}
                                        <span> - </span>
                                    {% endif %}
                                {% endif %}
                                {% empty %}
                                <span> - </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}

            {% endfor %}
        </table>
    </div>
    <div class="divider">&nbsp;</div>
{% endif %}

{% for subsection in section.subsections.all %}
    {% if subsection.applicant_type.value == applicant_type.value or subsection.applicant_type.value == "both" or applicant_type.value == "both"%}
        {% include "mixins/section.html" with section=subsection %}
    {% endif %}
{% endfor %}
