{% for subsection in section.subsections.all %}
    {% include "mixins/section.html" with section=subsection %}
{% endfor %}

{% if section.fields.all %}
<div>
    <h2>{{ section }}</h2>
    <table>
        {% for field in section.fields.all %}
        <tr>
            <th>
                {{field}}
            </th>
            <td>
                {% for entry in field.entry_set.all %}
                    {{ entry.value }}
                    {% if not entry.value%}
                        <span> - </span>
                    {% endif %}
                {% empty %}
                    <span> - </span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="divider">&nbsp;</div>
</div>
{% endif %}
