*.py[cod]
*.mo
*.sql
*.iml
.coverage*
.DS_Store
.devcontainer
.vscode
/local_settings.py
/.env
/*.env.yaml
/.venv
/.cache/
/.pytest_cache/
/.idea/
/.tox/
/media/
/static/
/venv/
/laske_export_files/
/nls_leasehold_transfers/
.mypy_cache
PCF_20181128.dat
leasing/management/commands/anonymize.py
leasing/management/commands/find_identifiers_for_lease_areas.py
leasing/management/commands/joo.py
leasing/management/commands/joo2.py
leasing/management/commands/prefetch_test.py
