*.py[cod]
*.mo
*.sql
*.iml
.coverage*
.DS_Store
.devcontainer
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile
!.devcontainer/docker-compose.yml
.vscode
/local_settings.py
/docker-compose.env
/docker-compose.override.yml
/.env
/*.env.yaml
/.venv
/.cache/
/.pytest_cache/
/.idea/
/.tox/
/media/
/static/
/venv/
/laske_export_files/
/nls_leasehold_transfers/
.mypy_cache
coverage.xml
