*.py[cod]
*.mo
*.sql
*.iml
*.csv
*.dump
*.log
*.xlsx
.coverage*
.DS_Store
.vscode
/local_settings.py
.devcontainer/docker-compose.env
/.env
/*.env.yaml
/.venv
/.cache/
/.pytest_cache/
/.idea/
/.tox/
/media/
/private_files/
/static/
/venv/
/laske_export_files/
/nls_leasehold_transfers/
/tmp_backups_for_db_restore/
.mypy_cache
PCF_20181128.dat
coverage.xml
