Q_CLUSTER = {
    "name": "DjangORM",
    "timeout": 90,
    "retry": 60 * 60,  # 1 hour
    "orm": "default",
    "error_reporter": {
        "sentry": {
            "dsn": "https://******@sentry.io/<project>"
        }
    }
}

# File virus scan settings
FLAG_FILE_SCAN = True
FILE_SCAN_SERVICE_URL = (
    "https://*****/api/v1/scan"  # Prefer the devtest endpoint
)
