-c requirements.txt
django-debug-toolbar
django-extensions
django-stubs
djangorestframework-stubs
flake8
flake8-print
ipython
isort
mypy
pep8-naming
pydocstyle
pytest
pytest-cov
pytest-django
pytest-factoryboy
factory-boy
werkzeug
