beautifulsoup4
dataclasses
Django~=2.2.20
django-anymail
django-auditlog
django-admin-rangefilter
django-jsonfield-compat
django-constance[database]
django-cors-headers
django-countries
django-crispy-forms
django-enumfields
django-environ
django-filter
django-helusers
django-model-utils
django-modeltranslation
django-q[sentry]
django-safedelete
django-sanitized-dump
django-sequences
djangorestframework
djangorestframework-gis
django-rest-swagger
docxtpl
psycopg2-binary
pysftp
python-daemon
python-dateutil
sentry-sdk
requests
xlsxwriter
zeep
