-c requirements.txt
django-debug-toolbar
django-extensions
django-stubs
# djangorestframework-stubs doesn't support Django Rest Framework 3.10
# or mypy >= 0.730. When It supports, this can be uncommented and the
# "type: ignore" can be removed from couple of files in the batchrun.
#djangorestframework-stubs
flake8
flake8-print
ipython
isort
mypy
openpyxl
pep8-naming
pydocstyle
pytest
pytest-cov
pytest-django
pytest-factoryboy
factory-boy
werkzeug
