-c requirements.txt
django-extensions
flake8
ipython
isort
pep8-naming
pip-tools
pydocstyle
pytest
pytest-cov
pytest-django
pytest-factoryboy
# factory-boy 2.9.2 is broken, using an older version instead.
# See https://github.com/pytest-dev/pytest-factoryboy/issues/47
factory-boy==2.8.1
werkzeug
