{% load static %}
{% load form_visible %}
{% load entry_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plotsearch/fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'plotsearch/target_status_pdf_style.css' %}">
</head>

<body>
    <div class="content">
        <div>
            <h1>{{ object.application_identifier }}</h1>
        </div>
        <div class="divider">&nbsp;</div>
        <!--APPLICANT SECTIONS-->
        {% for applicant in applicants %}
            {% if applicant.section.applicant_type.value == applicant.applicant_type.value or applicant.section.applicant_type.value == "both" or applicant.applicant_type.value == "both" %}
                {% include "mixins/section.html" with section=applicant.section answer=object.answer applicant_identifier=applicant.identifier applicant_type=applicant.applicant_type %}
            {% endif %}
        {% endfor %}
        <!--OTHER SECTIONS-->

        {% for section in other_sections.all|filter_only_parent %}
            {% include "mixins/section.html" with section=section answer=object.answer applicant_identifier=None applicant_type="both" %}
        {% endfor %}
    </div>
</body>

</html>
