{% load static %}
{% load i18n %}
{% load form_visible %}
{% load entry_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plotsearch/fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'plotsearch/target_status_pdf_style.css' %}">
</head>

<body>
    <div class="content">
        <div>
            <h1>{{ object.application_identifier }}</h1>
        </div>
        <div>
            <h2>{% trans "Plot search information" %}</h2>
            <h3>{{ plotsearch.name }}</h3>
            <table>
                {% for field in plotsearch_info %}
                <tr>
                    <th>{{ field.label|default:"" }}</th>
                    <td>{{ field.value|default:"" }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="divider">&nbsp;</div>
        <!--APPLICANT SECTIONS-->
        {% for applicant in applicants %}
            {% if applicant.section.applicant_type.value == applicant.applicant_type.value or applicant.section.applicant_type.value == "both" or applicant.applicant_type.value == "both" %}
                {% include "mixins/section_target_status.html" with section=applicant.section answer=object.answer applicant_identifier=applicant.identifier applicant_type=applicant.applicant_type plot_search_target=None %}
            {% endif %}
        {% endfor %}
        <!--OTHER SECTIONS-->

        {% for section in other_sections.all|filter_only_parent %}
            {% include "mixins/section_target_status.html" with section=section answer=object.answer applicant_identifier=None applicant_type="both" plot_search_target=object.plot_search_target %}
        {% endfor %}
    </div>
</body>

</html>
