@font-face {
  font-family: HelsinkiGrotesk;
  src:
    url('HelsinkiGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('HelsinkiGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}